*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One',sans-serif;
}
nav{
position:fixed ;
top: 0;
right: 0;
padding-top: 20px;
padding-right: 10px;


}
nav li {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
   text-align: center;
   padding-top: 10px;
   background-color: white;


}
nav li a{
    text-decoration: none;
}
body{
    position: relative;

}
.red-container{
    background-color: red;
    height: 100vh;
    /* text-align: center; */
}
.green-container{
    background-color: green;
    height: 100vh;
    text-align: center;
}
.yellow-container{
    background-color: yellow;
    height: 100vh;
    text-align: center;

}
 /* img{
    width: 400px;
    height: auto; 
    


} */
.yellow-text{
    color: yellow;
    font-size:xx-large;
}
.green-text{
    color: green;
    font-size:xx-large;
}